.avk_sticky{
  margin:0px 20px;
  padding:0px 10px;;
}
.avk_sticky h4{
  margin:10px 0;
  padding:10px;
 background: #dedede none repeat scroll 0 0;
    border-bottom: 1px solid #fcfcb4;
}

.clear{
  clear:both;
}
.avk_left{
  margin:0px;
  padding:0px;
  width:30%;
  float:left;
}
.avk_right{
  margin:0px;
  padding:0px;
  width:15%;
  float:left;
}