.logo_header {
    background: none repeat scroll 0 0 #dedede;
    border-bottom: 1px solid #fcfcb4;
    height: 60px;
    top:0px;
    position: fixed;
    width: 100%;
    z-index: 999999;
}
.logo_header_iner {
    margin: auto;
    padding: 0;
    width: 1100px;
}
.logo_left {
    float: left;
    margin: 0;
    padding: 5px 0;
}
.logo_left img {
    height: 50px;
    margin: 0;
    padding: 0;
}
.logo_menu {
    float: left;
    margin: 0;
    padding: 10px 0;
}
.logo_menu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.logo_menu ul li {
    display: block;
    float: left;
    padding: 0;
    position: relative;
    z-index: 99;
}
.logo_menu li ul {
    display: none;
}
.logo_menu ul li a {
    color: #404040;
    display: block;
    font-size: 14px;
    padding: 10px 24px;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}
.logo_menu ul li a:hover {
    background: none repeat scroll 0 0 #a7aaad;
}
.menu-item .active {
    background: none repeat scroll 0 0 #a7aaad;
}
.logo_menu li:hover > ul {
    display: block;
    position: absolute;
}
.logo_menu li:hover li {
    float: none;
}
.logo_menu li:hover {
    background: none repeat scroll 0 0 #ff6347;
}
.logo_menu li:hover li a:hover {
    background: none repeat scroll 0 0 #ff6347;
}
.logo_menu li ul li {
    background: none repeat scroll 0 0 #dedede;
    border-bottom: 1px dotted;
}
.logo_menu ul ul ul {
    margin: 0;
    padding: 0;
}
.logo_menu ul ul ul ul {
    left: 100%;
    margin: 0;
    padding: 0;
    top: 0;
}
.logo_menu ul::before, ul::after {
    content: " ";
    display: table;
}
.logo_menu ul::after {
    clear: both;
}
